.banner_whole {
  background: #000000;
}

.whole {
  display: flex;
  width: 100%;
  max-width: 82%;
  margin: auto;
  align-items: center;
}

.refr_pro_text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 80px;
  color: #ffffff;
}

.get_started button {
  background: #8111e8;
  border-radius: 8px;
  padding: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 12px 25px;
}

/*  */

.focus_on p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  color: #333333;
  max-width: 73%;
  margin: auto;
  padding: 80px 0;
}
